
<header class="pico container">
    <nav>
        <ul>
            <li><a href="{{ page.lang.url }}">Home</a></li>
        </ul>
        {# TODO search optional #}
        <ul><li><form action="{{ site.base_url }}/search/results.html" method="GET"><input name="q" type="search" placeholder="Search"></form></li></ul>
        <ul>
            
            {% for catKey, catValue in site.categories.items() %}
            {% if page.lang.url == "/" %}
                <li><a href="/{{ catKey }}">{{ catValue.label }}</a></li>
                {% else %}
                <li><a href="{{ page.lang.url }}/{{ catKey }}">{{ catValue.label }}</a></li>
                {% endif %}
                
            {% endfor %}
        
            {% if site.langs|length > 1 %}
                <li>
                    <details class="dropdown">
                    <summary>
                        {{ page.lang.label | capitalize }}
                    </summary>
                    <ul dir="rtl">
                        {% for lang in site.langs %}
                            {% if lang.code != page.lang.code %}
                                <li><a href="{{ lang.url }}">{{ lang.label | capitalize }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                  </details>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
    