

<aside>
    <nav>
        <ul>
        {% for item in paginator.items %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
        </ul>
    </nav>

{% if paginator.total_pages > 1 %}
    <div>
        {% set prev = paginator.has_prev ? paginator.prev_url : '#' %}    
        {% set next = paginator.has_next ? paginator.next_url : '#' %}    
        <a href="{{ prev }}" {{ paginator.has_prev ? "" : "disabled" }} role="button">Prev</a>
        <span role="button" class="outline" disabled>{{ paginator.current }}</span>
        <a href="{{ next }}" {{ paginator.has_next ? "" : "disabled" }} role="button">Next</a>
    </div>
{% endif %}

</aside>

